<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/test_R/bootstrap.css">

    <title>Rサンプルスクリプト・解説置き場</title>
  </head>
  <nav>
    <ul>
      <li><a href="/test_R">HOME</a></li>
      <li><a href="/test_R/chapter01">第1章</a></li>
      <li><a href="/test_R/chapter02">第2章</a></li>
      <li><a href="/test_R/chapter03">第3章</a></li>
      <li><a href="/test_R/chapter04">第4章</a></li>
      <li><a href="/test_R/chapter05">第5章</a></li>
      <li><a href="/test_R/chapter06">第6章</a></li>
      <li><a href="/test_R/chapter07">第7章</a></li>
      <li><a href="/test_R/chapter08">第8章</a></li>
      <li><a href="/test_R/chapter09">第9章</a></li>
      <li><a href="/test_R/chapter10">第10章</a></li>
      <li><a href="/test_R/chapter11">第11章</a></li>
    </ul>
  </nav>
  <body>
    <section>
      {{ content }}
    </section>
  </body>
</html>
