<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./styling.css">
    <title>Rサンプルスクリプト・解説置き場</title>
  </head>
  <nav>
    <ul>
      <li><a href="/test_R">HOME</a></li>
      <li><a href="#">第1章</a></li>
      <li><a href="/test_R/chapter02">第2章</a></li>
      <li><a href="#">第3章</a></li>
      <li><a href="#">第4章</a></li>
      <li><a href="#">第5章</a></li>
      <li><a href="/test_R/chapter06">第6章</a></li>
      <li><a href="#">第7章</a></li>
    </ul>
  </nav>
  <body>
    <section>
      {{ content }}
    </section>
  </body>
</html>
