<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/test_R/bootstrap.css">

    <title>Rサンプルスクリプト・解説置き場</title>
  </head>
 <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">初めてR本</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/testR/">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/testR/chapter01">第1章</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">第2章</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">第3章</a>
        </li><li class="nav-item">
          <a class="nav-link" href="#">第4章</a>
        </li><li class="nav-item">
          <a class="nav-link" href="#">第5章</a>
        </li><li class="nav-item">
          <a class="nav-link" href="#">第6章</a>
        </li><li class="nav-item">
          <a class="nav-link" href="#">第7章</a>
        </li><li class="nav-item">
          <a class="nav-link" href="#">第8章</a>
        </li><li class="nav-item">
          <a class="nav-link" href="#">第9章</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">第10章</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">第11章</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
  <body>
    <section>
      {{ content }}
    </section>
  </body>
</html>
